<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="connStringA" connectionString="default"/>
    <add name="connStringA-dev" connectionString="dev"/>
    <add name="connStringA-live" connectionString="live"/>
  </connectionStrings>
  <appSettings>
    <add key="settingA" value="default"/>
    <add key="settingA-dev" value="dev"/>
    <add key="settingA-live" value="live"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
